.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.inner-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr ;
    
    width: 850px;
    height: 500px;
}

#box1{
    grid-row-start: 1;
    grid-row-end: 3;
}
